<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Control de Calidad de Produccion de Emulsiones</title>
</head>
<body>
   <div class="container">
        <h1>Registro de Control de Calidad durante la producción de Emulsiones</h1>
        <a href="{{url_for('nuevocc')}}">
            <button>Nuevo Registro</button>
        </a>

        <a href="{{url_for('home')}}">
            <button type="button">Volver a inicio</button>
        </a><br><br>

        <form method="GET">
            <label>Filtrar por Lote:</label>
            <input type="text" name="Lote">
            <button type="submit">Filtrar</button>

            <a href="{{ url_for('cc') }}">
                <button type="button">Limpiar</button>
            </a>
        </form>


        <table border="1">
            <tr>
                <th>Lote</th>
                <th>N° Muestra</th>
                <th>Residuo Asfaltico</th>
                <th>Viscosidad</th>
                <th>Tamiz</th>
            </tr>
            {% for d in datos %}
            <tr>
                <td>{{d.Lote}}</td>
                <td>{{d.Nro}}</td>
                <td>{{d.RA}}</td>
                <td>{{d.Viscosidad}}</td>
                <td>{{d.Tamiz}}</td>
            </tr>
            {% endfor %}
        </table>
   </div> 
</body>
</html>